# General
.DS_Store
.idea/
.vscode/

# Python / Django
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.env.*
!.env.example
!.env.production.example
db.sqlite3
media/
staticfiles/

# Node / Next.js
node_modules/
.next/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node / Next.js
node_modules/
.next/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
params.json
LICENSE.txt
# next.js development

# Logs
backend/logs/

# Secrets
backend/firebase-service-account.json
